   <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:remove="all">Restablecer contraseña</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>

            <h2>Password reset</h2>
            <p>
                To proceed, click this link:
                <a th:href="${recoverUrl}" th:text="${recoverUrl}">
                    Recover URL
                </a>. O, copy and pase the url in the navigation bar of your browser.
            </p>
            <p>
                If you didn't request a password reset, please ignore this email.
            </p>
            <br />
            <br />
            ---
            <br/>
            Your SBSLA admin.
        </div>
    </body>
</html>